<!DOCTYPE html>
<html>
	<head>
		    <title>Most Recent 5XB Card</title>
		  <!-- Mobile Specific Metas
		  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <meta name="apple-mobile-web-app-capable" content="yes">
		  <link rel="apple-touch-icon" href="../static/touch-icon-iphone.png">
		  <link rel="apple-touch-icon" sizes="180x180" href="../static/touch-icon-iphone-retina.png">
	</head>
	<body>
		<img style="width:100%;" src="{{ front }}" alt="Front">

        <button onClick="window.location.reload();">Reload</button>
        <!--
        <form action="/mastodon" method="post">
            <button name="submit" value="Submit">Post</button>
        </form>
        -->
	</body>
</html>
